rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function permitido() {
      return request.auth != null
        && request.auth.token.email in [
          "contato.marcusbuceles@gmail.com",
          "contato.ingridbuceles@gmail.com"
        ];
    }

    match /casais/{casalId} {
      allow read, write: if permitido()
        && casalId == "marcus_e_ingrid_essencial_v23";
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
